<%= form_for [current_team, @retrospective, object], remote: true, html: { class: classes } do |f| %>
  <div class="row">
    <div class="col-md-4">
      <label class="ls-label ls-no-margin-bottom">
        <b class="ls-label-text"><%= t('form.description') %></b>
        <%= f.text_field :description, required: true %>
      </label>
    </div>
    <div class="col-md-2">
      <label class="ls-label ls-no-margin-bottom">
        <b class="ls-label-text"><%= t('form.user') %></b>
        <%= f.text_field :user, required: true %>
      </label>
    </div>
    <div class="col-md-6">
      <%= f.submit t('form.add'), class: 'ls-btn-primary' %>
    </div>
  </div>
<% end %>
