<% if @demand.errors.any? %>
  // Error
<% else %>
  // Add the demand line to table
  $('#demands-table').find('tbody').append(
    '<tr data-id="<%= @demand.id %>">' +
      '<td class="description"><%= @demand.description %></td>' +
      '<td class="user"><%= @demand.user %></td>' +
      '<td>' +
        '<div data-ls-module="switchButton" class="ls-switch-btn">' +
          '<input type="checkbox">' +
          '<label class="ls-switch-label" ls-switch-off="Pendente" ls-switch-on="Concluída"><span></span></label>' +
        '</div>' +
        '<%= link_to '', update_status_demand_path(@demand.id), remote: true, class: "ls-display-none" %>' +
      '</td>' +
      '<td class="actions">' +
        '<div data-ls-module="dropdown" class="ls-dropdown ls-group-btn">' +
          '<button  class="ls-btn"></button>' +
          '<ul class="ls-dropdown-nav">' +
            '<li><%= link_to t("button.edit"), edit_retrospective_demand_path(@retrospective.id, @demand.id), remote: true %></li>' +
            '<li><%= link_to t("button.delete"), [@retrospective, @demand], method: :delete, remote: true %></li>' +
          '</ul>' +
        '</div>' +
      '</td>' +
    '</tr>'
  );

  $('#demands-table tr:last-child').find('.ls-switch-btn').on('switchButton:deactivated switchButton:activated', function() {
    $(this).next().trigger('click');
  });

  // Init locastyle modules
  locastyle.switchButton.init();
  locastyle.dropdown.init();

  // Remove the input value
  $('#demand_description').val('');
  $('#demand_user').val('');
<% end %>
