<% if @demand.errors.any? %>
  // Error
<% else %>
  // Add the demand line to table
  $('#demands-table').find('tbody').append(
    '<tr data-id="<%= @demand.id %>">' +
      '<td class="description"><%= @demand.description %></td>' +
      '<td class="user"><%= @demand.user %></td>' +
      '<td>' +
        '<div data-ls-module="switchButton" class="ls-switch-btn">' +
          '<input type="checkbox">' +
          '<label class="ls-switch-label" ls-switch-off="Pendente" ls-switch-on="Concluída"><span></span></label>' +
        '</div>' +
        '<%= link_to '', update_status_demand_path(@demand.id), remote: true, class: "ls-display-none" %>' +
      '</td>' +
      '<td class="actions">' +
        '<div class="ls-group-btn">' +
          '<%= link_to "", edit_retrospective_demand_path(@retrospective.id, @demand.id), remote: true, class: "ls-btn ls-ico-pencil", title: t("button.edit") %>' +
          '<%= link_to "", [@retrospective, @demand], class: "ls-btn-danger ls-ico-close", method: :delete, remote: true, title: t("button.delete") %>' +
        '</div>' +
      '</td>' +
    '</tr>'
  );

  $('#demands-table tr:last-child').find('.ls-switch-btn').on('switchButton:deactivated switchButton:activated', function() {
    $(this).next().trigger('click');
  });

  // Init the swicth module
  locastyle.switchButton.init();

  // Remove the input value
  $('#demand_description').val('');
  $('#demand_user').val('');
<% end %>
