<% if @positive_topic.errors.any? %>
  if (!$('#positive_topic_description').next().hasClass('ls-help-message')) {
    $('#new_positive_topic').find('label').append('<%= errors_for(@positive_topic, :description) %>').addClass('ls-error');
  }
<% else %>
  // Add the positive topic line to table
  $('#positive-topics-table').find('tbody').append(
    '<tr data-id="<%= @positive_topic.id %>">' +
      '<td class="description"><%= @positive_topic.description %></td>' +
      '<td class="actions">' +
        '<div data-ls-module="dropdown" class="ls-dropdown ls-group-btn">' +
          '<button  class="ls-btn"></button>' +
          '<ul class="ls-dropdown-nav">' +
            '<li><%= link_to t("button.edit"), edit_retrospective_positive_topic_path(@retrospective.id, @positive_topic.id), remote: true, title: t("button.edit") %></li>' +
            '<li><%= link_to t("button.delete"), [@retrospective, @positive_topic], method: :delete, remote: true, title: t("button.delete") %></li>' +
          '</ul>' +
        '</div>' +
      '</td>' +
    '</tr>'
  );

  // Init locastyle dropdown module
  locastyle.dropdown.init();

  $('#positive_topic_description').next().remove();
  $('#new_positive_topic').find('label').removeClass('ls-error');
  $('#positive_topic_description').val('');
<% end %>
