var positiveTopicsTable = $('#positive-topics-table');
var editLine = positiveTopicsTable.find('[data-id="' + <%= @positive_topic.id %> + '"]');

function submitEditedLine() {
  var editForm = $('#edit_positive_topic_' + <%= @positive_topic.id %>);
  editForm.find('#positive_topic_description').val($('#positive-topic-edit-description').val());
  editForm.submit();
}

function clearEditMode() {
  var descriptionField = $('#positive-topic-edit-description');

  positiveTopicsTable.next('form').remove();
  positiveTopicsTable.find('.ls-width-200').removeClass('ls-width-200').addClass('ls-width-150');

  descriptionField.closest('tr').find('.ls-group-btn').show();
  descriptionField.closest('td').html(descriptionField.val());
  $('#editActions').remove();
}

// Validate if exist another line in edit mode
if ($('#positive-topic-edit-description').length) {
  clearEditMode();
}

editLine.find('.description').html('<input type="text" value="<%= @positive_topic.description %>" class="ls-full-width" id="positive-topic-edit-description" />');
editLine.find('.ls-group-btn').hide();
editLine.find('.actions').append(
  '<div id="editActions">' +
    '<a class="ls-btn-primary" id="positive-topic-save-edit"><%= t("button.save") %></a>' +
    '<a class="ls-btn" id="positive-topic-cancel-edit"><%= t("button.cancel") %></a>' +
  '</div>'
);

positiveTopicsTable.find('.ls-width-150').removeClass('ls-width-150').addClass('ls-width-200');

$('#positive-topic-save-edit').on('click', submitEditedLine);
$('#positive-topic-cancel-edit').on('click', clearEditMode);

positiveTopicsTable.after('<%= j render partial: "shared/forms/description", locals: { object: @positive_topic, classes: "ls-form ls-form-inline row ls-display-none" } %>');
