<fieldset class="row col-md-12">
  <%= form_for @retrospective, html: { class: 'ls-form row' } do |f| %>
    <label class="ls-label col-md-12">
      <b class="ls-label-text"><%= t('form.title') %>:</b>
      <%= f.text_field :title %>
    </label>
    <label class="ls-label col-md-12">
      <b class="ls-label-text"><%= t('form.date') %>:</b>
      <%= f.date_select :date, html_options = { class: 'ls-select' } %>
    </label>
    <label class="ls-label col-md-12">
      <b class="ls-label-text"><%= t('form.room') %>:</b>
      <%= f.number_field :room %>
    </label>
    <div class="ls-actions-btn">
      <%= f.submit t('form.save'), class: 'ls-btn-primary' %>
    </div>
  <% end %>
</fieldset>
