<h1 class="ls-title-intro ls-ico-home"><%= t('initial_page') %></h1>

<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3"><%= t('retrospectives_list') %></h2>
  </header>
  <table class="ls-table">
    <thead>
      <tr>
        <th><%= t('table.title') %></th>
        <th><%= t('table.date') %></th>
        <th><%= t('table.room') %></th>
        <th><%= t('table.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @retrospectives.each do |r| %>
        <tr>
          <td><a href="#"><%= r.title %></a></td>
          <td><a href="#"><%= r.date %></a></td>
          <td><a href="#"><%= t('table.room') %> <%= r.room %></a></td>
          <td>
            <%= link_to t('button.view'), retrospective_path(r), :class => 'ls-btn-primary' %>
            <%= link_to t('button.edit'), edit_retrospective_path(r.id), :class => 'ls-btn' %>
            <%= link_to t('button.delete'), r, :class => 'ls-btn-danger', method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

