<h1 class="ls-title-intro ls-ico-home"><%= t('title.my_retrospectives') %></h1>

<% if @next_retrospective %>
  <div class="ls-box ls-board-box">
    <header class="ls-info-header">
      <h2 class="ls-title-3"><%= t('title.next_retrospective') %></h2>
    </header>
    <div class="ls-list">
      <header class="ls-list-header">
        <div class="ls-list-title col-md-9">
          <%= link_to @next_retrospective.title, retrospective_path(@next_retrospective) %>
          <small><%= t('table.date') %>: <%= l @next_retrospective.date.to_date, format: :default %> - <%= l @next_retrospective.schedule, format: :small %></small>
        </div>
        <div class="col-md-3 ls-txt-right">
          <%= link_to t('button.view'), retrospective_path(@next_retrospective), class: 'ls-btn-primary' %>
        </div>
      </header>
    </div>
  </div>

  <div class="ls-box ls-board-box">
    <header class="ls-info-header">
      <h2 class="ls-title-3"><%= t('title.retrospectives_historic') %></h2>
    </header>
    <table class="ls-table">
      <thead>
        <tr>
          <th><%= t('table.title') %></th>
          <th><%= t('table.date') %></th>
          <th><%= t('table.schedule') %></th>
          <th><%= t('table.room') %></th>
          <th><%= t('table.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @retrospectives.each do |r| %>
          <tr>
            <td><%= r.title %></td>
            <td><%= l r.date.to_date, format: :default %></td>
            <td><%= l r.schedule, format: :small %></td>
            <td><%= t('table.room') %> <%= r.room %></td>
            <td>
              <div data-ls-module="dropdown" class="ls-dropdown ls-group-btn">
                <button  class="ls-btn"></button>
                <ul class="ls-dropdown-nav">
                  <li><%= link_to t('button.view'), retrospective_path(r) %></li>
                  <li><%= link_to t('button.edit'), edit_retrospective_path(r.id) %></li>
                  <li><%= link_to t('button.delete'), r, method: :delete, data: { confirm: t('confirm') } %></li>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="ls-box ls-board-box">
    <header class="ls-info-header">
      <h2 class="ls-title-3"><%= t('title.next_retrospective') %></h2>
    </header>
    <div class="ls-list">
      <header class="ls-list-header">
        <div class="ls-list-title col-md-9">
          <%= link_to 'Você ainda não possui nenhuma retrospectiva criada.', new_retrospective_path, title: t('menu.create_retrospective') %>
          <small>Clique no botão ao lado para criar sua primeira retrospectivs.</small>
        </div>
        <div class="col-md-3 ls-txt-right">
          <%= link_to t('menu.create_retrospective'), new_retrospective_path, class: 'ls-btn-primary', title: t('menu.create_retrospective') %>
        </div>
      </header>
    </div>
  </div>
<% end %>
