<h1 class="ls-title-intro ls-ico-plus">Nova Retrospectiva</h1>

<fieldset class="row col-md-4
">
  <%= form_for @retrospective, html: { class: 'ls-form row' } do |f| %>
    <label class="ls-label col-md-12">
      <b class="ls-label-text">Título:</b>
      <%= f.text_field :title %>
    </label>
    <label class="ls-label col-md-12">
      <b class="ls-label-text">Data:</b>
      <%= f.date_select :date, html_options = { class: 'ls-select' } %>
    </label>
    <label class="ls-label col-md-12">
      <b class="ls-label-text">Sala:</b>
      <%= f.number_field :room %>
    </label>
    <div class="ls-actions-btn">
      <%= f.submit 'Criar Retrospectiva', :class => 'ls-btn-primary' %>
    </div>
  <% end %>
</fieldset>
