<!DOCTYPE html>
<html class="ls-theme-orange ls-pre-panel">
<head>
  <%= render 'shared/head' %>
</head>
<body>

  <%= render 'shared/pre_panel_topbar' %>

  <%= render 'shared/pre_panel_menu' %>

  <main class="ls-main">
    <div class="container-fluid">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </main>

  <%= render 'shared/scripts' %>
</body>
</html>
